doctype html
html
    head
        meta(charset='utf-8')
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='Michal Karzel')
        // Le styles
        link(href='assets/css/bootstrap.css', rel='stylesheet')